@using System.Diagnostics
@{
    ViewData["Title"] = "Alunos Page";
}

<div class="text-center">
    <h1 class="display-4">Alunos Page</h1>
</div>
<div>
    @for (int i = 0; i < 10; i++)
    {
        <p>Aluno @i</p>
    }
</div>